/* Reset all styles */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--green: #0FEB74;
	--blue: #00255C;
	--dark-blue: #000814;
	--dark-light-blue: #000E24;
	--white: white;
	
	--text-x-large: 4.8rem;
	--text-large: 3.2rem;
	--text-medium: 2.4rem;
	--text-regular: 1.6rem;
	--text-small: 1.4rem;
	--text-tiny: 1.2rem;
	--text-s-tiny: 1.0rem;

	--space-x-large: 64px;
	--space-large: 32px;
	--space-medium: 16px;
	--space-small: 8px;
	--space-tiny: 4px;

	--radius-large: 60px;
	--radius-medium: 32px;
	--radius-small: 10px;
	--radius-tiny: 5px;

	/* TODO CSS: Add more variables widths and calculated widths */
	--width-min: 300px;
	--width-base: 1280px;
	--width-tablet: 80%;
	--width-tablet: 80%;
	--width-desktop: 80%;
}

html {
	background-color: aqua;
	font-size: 62.5%;
}

body {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	min-width: var(--width-min);
	max-width: var(--width-base);
	margin: auto;
	padding: var(--space-medium) var(--space-large);
	font-family: 'Rubik', sans-serif;
	font-size: var(--text-small);
	background-color: var(--dark-light-blue);
	color: var(--white);
}

/* TODO CSS: Create effect blur at the beginning and end of the title when scroll */
h1 {
	font-family: 'Dela Gothic One', sans-serif;
	font-size: var(--text-large);
	color: var(--green);
}

/* TODO CSS: Add gap in subtitles */
h2 {
	font-size: var(--text-medium);
	font-weight: 400;
}

input {
	color: var(--white);
	font-family: 'Rubik', sans-serif;
}

i {
	color: var(--green);
	margin-right: var(--space-small);
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--green);
}

button {
	background-color: var(--green);
	color: var(--white);
	border: none;
	/* border-radius: 5px;
	padding: 10px 20px; */
	cursor: pointer;
}

img {
	width: 100%;
}

code {
	color: var(--green);
	font-weight: bold;
}


.hide {
	display: none;
}

.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
	margin: 0 auto;
}

.title > h1 {
	cursor: pointer;
	user-select: none;
}

.slogan {
	font-size: var(--text-tiny);
	margin-bottom: var(--space-medium);
	user-select: none;
}

.arrow-searchbar {
	display: flex;
	justify-content: center;
	align-items: center;
}

#arrow-left {
	color: var(--white);
	margin-right: auto;
}

.searchbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.search-container {
	display: flex;
	width: 288px;
	padding: var(--space-tiny) var(--space-small);
	padding-right: var(--space-tiny);
	border: 1px solid var(--blue);
	border-radius: var(--radius-medium);
}

.search-textbox {
	width: 100%;
	min-width: 30px;
	margin: 0 var(--space-small);
	background-color: transparent;
	border-style: none;
	border-color: transparent;
	outline: none;
	resize: vertical;
}

#search-btn {
	position: relative;
	display: flex;
	min-width: 24px;
	min-height: 24px;
	border-radius: 30px;
}

.fa-magnifying-glass {
	position: absolute;
	top: 6px;
	left: 5px;
	color: var(--dark-blue);
	cursor: pointer;
}

.generic-title > .subtitle {
	margin-top: var(--space-medium);
}

.subtitle {
	display: flex;
	align-items: center;
	margin: var(--space-large) 0 var(--space-medium);
}


/* TODO CSS: real videotape container, border, shadow/light */
.trending-movies, .suggested-movies {
	display: flex;
	align-items: center;
	gap: var(--space-small);
	overflow-x: scroll;
}

/* TODO CSS: (1/2) Adjust height, fit and bottom rounded movie image */
.trending-movie, .suggested-movie {
	position: relative;
	display: flex;
	min-width: 168px;
	border-radius: var(--radius-tiny);
	overflow: hidden;
}

.trending-position {
	position: absolute;
	left: var(--space-small);
	bottom: var(--space-small);
	padding: var(--space-small);
	width: var(--space-large);
	height: var(--space-large);
	font-family: 'Dela Gothic One', sans-serif;
	background-color: var(--green);
	border-radius: var(--radius-medium);
}

.trending-position > span {
	color: var(--dark-blue);
}

.categories-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 640px;
}

.category {
	width: fit-content;
	padding: var(--space-tiny) var(--space-small);
	margin: var(--space-tiny);
	font-size: var(--text-tiny);
	font-weight: 700;
	color: var(--dark-blue);
	background-color: var(--green);
	border-radius: var(--radius-medium);
	cursor: pointer;
	user-select: none;
}

.category > i {
	color: var(--dark-light-blue);
	margin-right: var(--space-tiny);
}

.watch-later {
	position: absolute;
	right: var(--space-small);
	top: var(--space-small);
	background-color: var(--dark-blue);
	border-radius: var(--radius-medium);
}

/* TODO CSS: (2/2) Adjust height, fit and bottom rounded movie image */
.grid-movies {
	display: grid;
	grid-auto-columns: 168px;
	grid-template-columns: 1fr 1fr;
	gap: var(--space-small);
	width: 100%;
}

.grid-movie {
	position: relative;
	border-radius: var(--radius-tiny);
	overflow: hidden;
}

/* Movie */
.movie-view {
	width: 100%;
	height: 100%;
}

.movie {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.movie-poster {
	width: 70%;
	margin: var(--space-x-large) 0 var(--space-medium);
}

.movie-title-rating {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Dela Gothic One', sans-serif;
}

.movie-description {
	font-size: var(--text-small);
}

.movie-categories {
	display: flex;
	justify-content: flex-end;
	margin: var(--space-small) 0;
}

.suggested-movie {
	justify-self: flex-start;
}

.credits {
	text-align: center;
	font-size: var(--text-tiny);
	margin: var(--space-small) 0;
}

/* TODO CSS: Remove temporal background colors */
/* FIX CSS: Margins an with body */
/* ********* Tablet mini ********* */
@media (min-width: 481px) and (max-width: 767px) {

	html {
		background-color: red;
		/* background-color: var(--dark-blue-light); */
	}

	body {
		width: 90%;
	}

	.category {
		border-radius: var(--radius-large);
	}
	
	.trending-movie {
		min-width: 132px;
	}
	
	.grid-movies {
		grid-template-columns: repeat(4, 1fr);
	}
}

/* ********* Tablet large ********* */
@media (min-width: 768px) and (max-width: 1024px) {

	html {
		background-color: orange;
		/* background-color: var(--dark-blue-light); */
	}

	body {
		width: 80%;
		margin: auto;
	}

	.categories {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.grid-movies {
		grid-template-columns: repeat(4, 1fr);
	}

	.movie {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: var(--space-large);
	}

	.movie-poster {
		width: 128px;
	}

	.movie-info {
		width: 384px /* 64 * 6 */
	}
}

/* ********* Desktop mini ********* */
@media (min-width: 1025px) and (max-width: 1280px) {

	html {
		background-color: yellow;
		/* background-color: var(--dark-blue-light); */
	}
	
	body {
		width: 80%;
		margin: auto;
	}
	
	h1 {
		font-size: var(--text-x-large);
	}

	#arrow-left {
		display: none;
	}

	.searchbar {
		justify-content: flex-end;
	}

	.categories {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.categories-list {
		flex-direction: column;
		justify-content: flex-start;
		width: 600px;
		height: 120px;
	}

	.grid-movies {
		grid-template-columns: repeat(5, 1fr);
	}

	.movie {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: var(--space-large);
	}

	.movie-poster {
		width: 256px; /* 64 * 4 */
	}

	.movie-info {
		width: 384px /* 64 * 6 */
	}

	#movie-info-title {
		font-size: var(--text-large);
	}

	.movie-title-rating {
		font-size: var(--text-medium);
	}
}

/* ********* Desktop large ********* */
@media (min-width: 1281px) {

	html {
		background-color: green;
		/* background-color: var(--dark-blue-light); */
	}
	
	body {
		width: 80%;
		margin: auto;
	}
	
	h1 {
		font-size: var(--text-x-large);
	}

	#arrow-left {
		display: none;
	}

	.searchbar {
		justify-content: flex-end;
	}

	.categories {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.categories-list {
		flex-direction: column;
		width: 640px;
		height: 120px;
		justify-content: flex-start;
		align-content: space-between;
	}

	.grid-movies {
		grid-template-columns: repeat(6, 1fr);
	}

	.movie {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: var(--space-x-large);
	}

	.movie-poster {
		width: 256px; /* 64 * 4 */
	}

	.movie-info {
		width: 512px /* 128px * 4 */
	}

	#movie-info-title {
		font-size: var(--text-large);
	}

	.movie-title-rating {
		font-size: var(--text-medium);
	}
}
